/* 全体のスタイル */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}

/* ヘッダー */
header {
  background-color: #4caf50;
  padding: 1rem;
}

header h1 {
  color: #fff;
  text-align: center;
}

/* ヘッダーのコンテンツ */
.language-content {
  display: flex;
  justify-content: right;
}

/* 言語選択メニューのスタイル */
#language-select {
  margin-top: 2rem;
  margin-right: 2rem;
}

/* コンテンツ */
main {
  padding: 2rem;
}

main h2 {
  border-bottom: 2px solid #000000;
  padding-bottom: 0.5rem;
}

/* フッター */
footer {
  background-color: #f4f4f4;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}
